Question 1

In [2]:
def find_middle_value(num1, num2, num3):
    numbers = [num1, num2, num3]
    numbers.sort()
    return numbers[1]
print(find_middle_value(5, 2, 8))
print(find_middle_value(10, 20, 15))
print(find_middle_value(7, 7, 7))

5
15
7

Question 2

In [4]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Cannot divide by zero"
num1 = float(input("Enter the first number: "))
operator = input("Enter the operator (+, -, *, /): ")
num2 = float(input("Enter the second number: "))
if operator == '+':
    result = add(num1, num2)
elif operator == '-':
    result = subtract(num1, num2)
elif operator == '*':
    result = multiply(num1, num2)
elif operator == '/':
    result = divide(num1, num2)
else:
    result = "Invalid operator"

print(f"Result: {result}")

Enter the first number: 5
Enter the operator (+, -, *, /): +
Enter the second number: 4
Result: 9.0

Question 3

In [5]:
def calculate_hypotenuse(side1, side2):
    hypotenuse = (side1**2 + side2**2)**0.5
    return hypotenuse
shorter_side1 = float(input("Enter the length of the first shorter side: "))
shorter_side2 = float(input("Enter the length of the second shorter side: "))

result = calculate_hypotenuse(shorter_side1, shorter_side2)
print(f"The hypotenuse of the right triangle is: {result}")

Enter the length of the first shorter side: 5
Enter the length of the second shorter side: 4
The hypotenuse of the right triangle is: 6.4031242374328485

Question 4

In [6]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def perimeter(self):
        return 2 * (self.length + self.width)

    def area(self):
        return self.length * self.width

    def display(self):
        print(f"Length: {self.length}")
        print(f"Width: {self.width}")
        print(f"Perimeter: {self.perimeter()}")
        print(f"Area: {self.area()}")
rectangle1 = Rectangle(5, 8)
rectangle1.display()
rectangle2 = Rectangle(3, 6)
rectangle2.display()

Length: 5
Width: 8
Perimeter: 26
Area: 40
Length: 3
Width: 6
Perimeter: 18
Area: 18

Question 5

In [9]:
class BankAccount:
    def __init__(self, accountNumber, name, balance_rupees):
        self.accountNumber = accountNumber
        self.name = name
        self.balance_rupees = balance_rupees

    def deposit(self, amount_rupees):
        if amount_rupees > 0:
            self.balance_rupees += amount_rupees
            print(f"Deposited ₹{amount_rupees}. New balance: ₹{self.balance_rupees}")
        else:
            print("Invalid deposit amount.")

    def withdrawal(self, amount_rupees):
        if 0 < amount_rupees <= self.balance_rupees:
            self.balance_rupees -= amount_rupees
            print(f"Withdrew ₹{amount_rupees}. New balance: ₹{self.balance_rupees}")
        else:
            print("Invalid withdrawal amount or insufficient funds.")

    def bank_fees(self):
        fee = 0.05 * self.balance_rupees
        self.balance_rupees -= fee
        print(f"Bank fees (5%): ₹{fee}. New balance: ₹{self.balance_rupees}")

    def display(self):
        print("Account Details:")
        print(f"Account Number: {self.accountNumber}")
        print(f"Account Owner: {self.name}")
        print(f"Balance: ₹{self.balance_rupees}")

account1 = BankAccount(123456, "John Doe", 1000)
account1.deposit(500)
account1.withdrawal(200)
account1.bank_fees()
account1.display()

Deposited ₹500. New balance: ₹1500
Withdrew ₹200. New balance: ₹1300
Bank fees (5%): ₹65.0. New balance: ₹1235.0
Account Details:
Account Number: 123456
Account Owner: John Doe
Balance: ₹1235.0