Question 1

In [1]:
def find_runner_up_score(scores):
    unique_scores = list(set(scores))
    unique_scores.sort(reverse=True)

    if len(unique_scores) > 1:
        runner_up_score = unique_scores[1]
        return runner_up_score
    else:
        return "No runner-up score available."

scores = [10, 5, 8, 10, 7, 2, 8, 7]
runner_up = find_runner_up_score(scores)

print(f"The runner-up score is: {runner_up}")

The runner-up score is: 8

Question 2

In [5]:
D = {'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

name = input("Enter a name: ")

if name in D:
    D[name] = [88, 77, 99]
    print("Updated dictionary:", D)
else:
    print("Name not found.")

Enter a name: Ram
Updated dictionary: {'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [88, 77, 99], 'Meena': [63, 79, 85]}

Question 3

In [9]:
age = int(input("Enter your age: "))
gender = input("Enter your gender (male/female): ").lower()

if age < 5:
    ticket_price = 0
elif 5 <= age <= 12:
    ticket_price = 10
elif age > 60:
    ticket_price = 0
else:
    ticket_price = 50

if gender == 'female':
    ticket_price *= 0.5

print(f"Your ticket price is: Rs. {ticket_price}")

Enter your age: 7
Enter your gender (male/female): male
Your ticket price is: Rs. 10